.generalContainer{
    //background-image: url('{{backgroundImage}}');
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;

.containerLogin{
    position:relative;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    width: 400px;
    height:80vh;
    //background-color:lightblue;
    border-radius:20px;
    flex-flow: column;

    backdrop-filter: blur(20px);
    box-shadow:10px;
    border: 1px solid rgba(255,255,255,0.2);
    -moz-box-shadow:    3px 3px 3px 4px rgb(36, 35, 35);
    -webkit-box-shadow: 3px 3px 3px 4px rgb(36, 35, 35);
    box-shadow:         3px 3px 3px 4px rgb(36, 35, 35);

    #darkmodeButton{
        background-color:transparent;
        border:none;

        #darkmodeImage{
            width:40px;
            height:40px;
        }
    }
    
    #logo{
        width:300px;
        height:200px;
    }

    #poke-gif{
        width:100px;
        height:100px;
    }

    input{
        width:80%;
        height:40px;
        margin:20px;
        text-align: center;
        border-radius: 10px;
        border:0px solid white;
        font-size: 20px;
    }   

   #connectButton{
        width:80%;
        height:50px;
        background-color: rgb(38, 151, 15);
        border-radius: 10px;
        border:0px solid white;
        color:white;
        font-size:16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
}


  
  